h1 { 
    font-size: 25px;
    color:#191308 ;
}
body{
    background-color: beige;
}
navi{ 
    background-color:antiquewhite ;
    padding: 11px;
    margin: 0%;
}
title{ padding: 10px
       color: black}