h1 { 
    font-size: 25px;
    color:#191308 ;
}
body{
    background-color:#A37C40;
    margin: 0px;
    font-family: Arial;
}
.navi{ 
    background-color: beige;
    padding: 11px;
    margin: 0px;
    color:#FF7477;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    border-botton: 3px solid #FF7477;

}
.content {
    padding: 10px;
    margin: 0px;
    text-align: center;
         }
.home {
display: flex;
}
.bestellformular {
    display: none;
}
.bewertung {
    display: none;
}
.button {
  padding: 10px 20px;
  background-color: #63372C;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

