h1 { 
    font-size: 25px;
    color:#191308 ;
}
body{
    background-color:#A37C40;
    margin: 0px;
    font-family: Arial;
}
.navi{ 
    background-color: beige;
    padding: 11px;
    margin: 0px;
    color:#FF7477;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    border-bottom: 3px solid #FF7477;

}
.content {
    padding: 10px;
    margin: 0px;
    text-align: center;
         }
.home {
display: flex;
}
.bestellformular {
    display: none;
}
.bewertung {
    display: none;
}
